bbody {
  font-family: 游ゴシック Medium;
  margin: 1;
  padding: 1;
}
.header {
  background-color: white;
  padding: 0em;
}
.footer {
  background-color: white;
  padding: 5em;
}
.main {
  background-color: #ff6868;
  padding: 5em;
}
.main1 {
  background-color: #fff8d8;
  padding: 5em;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
